*{
   box-sizing: border-box;
}
html,body{
   font-family: "Roboto Bold",Helvetica,Arial,sans-serif;
   font-size: 20px;
   font-weight: 400;
   color: #000000;
   background-color: #fafafa;
}
.header{
   display: flex;
   padding-top: 16px;
   padding-bottom: 16px;
   justify-content: center;
   align-items: center;
}
.header-image{
   display: inline-block;
   width: 60%;
}
.header-text{
   display: inline-block;
   padding-left: 2px;
   font-size: 6vw;
   font-weight: 400;
   color: #6e7073;
}
.row::after{
   display: table;
   content: "";
   clear: both;
}
.row:nth-child(9){
   padding-bottom: 24px;
}
.column{
   padding: 32px;
   float: left;
}
.screenshot-image{
   display: inline-block;
   width: 100%;
   border: 1px solid #000000;
}
.instruction{
   display: block;
   padding-top: 2px;
   text-align: center;
}
@media(min-width:576px){
   .header-image{
      width: 50%;
   }
   .header-text{
      padding-left: 3px;
      font-size: 5vw;
   }
}
@media(min-width:768px){
   .header-image{
      width: 40%;
   }
   .header-text{
      padding-left: 4px;
      font-size: 4vw;
   }
}
@media(min-width:992px){
   .header-image{
      width: 30%;
   }
   .header-text{
      padding-left: 5px;
      font-size: 3vw;
   }
   .column{
      width: 50%;
   }
}
@media(min-width:1200px){
   .header-image{
      width: 20%;
   }
   .header-text{
      padding-left: 6px;
      font-size: 2vw;
   }
}
